In [ ]:
# Integer(int)
x = 10
y = -5

print(x,y)
print(type(x))

10 -5
<class 'int'>

In [ ]:
# Float(float)
price = 99.99
height = 5.8
print(price,height)
print(type(price))

99.99 5.8
<class 'float'>

In [ ]:
# String(str)
name = "Muhib"
msg = 'Hello Python'
print(name,msg)
print(type(name))

Muhib Hello Python
<class 'str'>

In [5]:
# Boolean(bool)
is_sunny = True
is_raning = False

print(is_sunny,is_raning)
print(type(is_sunny))

True False
<class 'bool'>

In [6]:
# List(list)

fruits  = ['apple','banana','mango']
print(fruits)
print(type(fruits))

['apple', 'banana', 'mango']
<class 'list'>

In [7]:
print(fruits[0])

apple

In [8]:
# Tuple(tuple)

numbers = (1,2,3)
print(numbers)
print(type(numbers))

(1, 2, 3)
<class 'tuple'>

In [9]:
# Set(set)

unique_nums = {1,2,3,3,2}
print(unique_nums)
print(type(unique_nums))

{1, 2, 3}
<class 'set'>

In [10]:
# Dictionary(dict)
student = {"Name":"Asma","age":14,"grade":"A"}
print(student)
print(type(student))

{'Name': 'Asma', 'age': 14, 'grade': 'A'}
<class 'dict'>

In [11]:
print(student["Name"])

Asma

Type Casting in Python

In [13]:
x = 5
y = float(x)
print(y)

5.0

In [14]:
a = 10
b = 2.5
c = a + b
print(c)
print(type(c))

12.5
<class 'float'>

In [15]:
a = 5
b = float(a)
print(b)
print(type(b))

5.0
<class 'float'>

In [17]:
x = 7.4
y = int(x)
print(y)
print(type(y))

7
<class 'int'>

In [18]:
age = 18
text = str(age)
print(text)
print(type(text))

18
<class 'str'>