In [1]:
# Python Syntax

print("Hello world!")

Hello world!

In [5]:
print(5.6)

5.6

In [6]:
print(4,5)

4 5

In [7]:
print(False)

False

In [8]:
print('india','pakistan','america','astralya')

india pakistan america astralya

In [ ]:
print('pakistna',5,True)

pakistna 5 True

In [12]:
print('india','pakistan','america','astralya',sep='/')

india/pakistan/america/astralya

In [13]:
print('india','pakistan','america','astralya',sep='-')

india-pakistan-america-astralya

In [14]:
print('hello')
print('world')

hello
world

In [16]:
print('hello',end=',')
print('world')

hello,world

In [18]:
# Integer
print(4)

print(1e309)

4
inf

In [20]:
# float

print(3.3)

print(1.7e308)

3.3
1.7e+308

In [21]:
# Boolean

print(True)
print(False)

True
False

In [22]:
# complex
print(4+5j)

(4+5j)

In [23]:
# String
print("I am learn from python")
print('hello python')
print("""data science""")

I am learn from python
hello python
data science

In [24]:
# List
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [25]:
# Tuples
print((10,20,30,40))

(10, 20, 30, 40)

In [26]:
# Sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [27]:
# Dict
print({'Name':'muhib','age':12,'gender':'male'})

{'Name': 'muhib', 'age': 12, 'gender': 'male'}

In [3]:
def pak():
    return "pakistan"

In [4]:
a = pak()
print(a)

pakistan

In [6]:
def Pay():

    return "muhib"

In [8]:
a = Pay()
print(a)

muhib

In [14]:
# parameter

def Atm(a=3):

    return a

In [15]:
a = Atm()
print(a)

3

In [16]:
# argument

def muhib(a):

    return a

In [ ]:
f = muhib("fahim")
print(f)

fahim

In [ ]:
# Write a funtions that return addition of three numbers. Make sure you pass three numbers as argument
# Write a funtions that return addition of three numbers. Make sure you pass three numbers as parameters

In [67]:
# Function banana
def science():
    return "i am learn from python"

In [68]:
a = science()
print(a)

i am learn from python

In [80]:
def Add(a,b,c):
    return a + b + c

In [83]:
a = Add(10,10,10)
print(a)

30

In [101]:
def sum(a=10,b=20,c=30):
    return a + b + c

In [102]:
f = sum()
print(f)

60

In [103]:
def sub(a = 10,b = 15,c= 20):
    return a - b - c

In [104]:
h = sub()
print(h)

-25

In [2]:
def is_even(num):
    if num % 2 == 0:
        return 'even'
    else:
        return 'odd'

In [3]:
for i in range(1,11):
    x = is_even(i)
    print(x)

odd
even
odd
even
odd
even
odd
even
odd
even