Let,s create a function(with docstring)

In [6]:
def greet(a = 13):
    return a

In [8]:
a = "hellow welcome"
print(a)

hellow welcome

In [9]:
# Syntax of Function

def function_name(parameter):
    """docstring(optional)"""
    return function_name

In [11]:
def number(a,b):
    result = a + b
    return result

In [13]:
# Calling the function

sum_result = number(10,20)

print(sum_result)

30

In [14]:
def user():
    print("Good morning")

In [15]:
muhib = user()

Good morning

In [18]:
def pak(name):
    print('hello',name)

In [21]:
pak('muhib')
pak('ahmed')

hello muhib
hello ahmed

In [22]:
def square(num):
    return num * num

In [23]:
result = square(5)
print(result)

25

In [24]:
# Function with multiple parameters

def Add_three_nums(a,b,c):
    return a + b + c

In [26]:
asad = Add_three_nums(10,20,30)
print(asad)

60

In [27]:
# Default Parameters

def pen(name = "user"):
    print('Hello',name)

In [31]:
pen()
pen("muhib")
pen("i am writing in python")

Hello user
Hello muhib
Hello i am writing in python

In [33]:
# Keyword Arguments

def info(name,age,marks):
    return name , age,marks

In [35]:
information = info("nasim",15,100)
print(information)

('nasim', 15, 100)

In [36]:
# *args

def add_numbers(*args):
    print(sum(args))

In [37]:
add_numbers(20,11,23)

54

In [38]:
# ** kwargs

def using(**kwargs):
    print(kwargs)

In [ ]:
# Types of Arguments
# Default arguments
# positional arguments
# keyword Arguments

In [2]:
def power(a=1,b=1):
    return a**b

In [3]:
power()

1

In [4]:
# positional arguments
power(2,3)

8

In [5]:
# Keyword Arguments

power(b=3,a=2)

8

*args and **kwargs

In [13]:
# *args

def multiply(*args):
    product = 1

    for i in args:
        product = product * i
        print(args)
        return product

In [14]:
multiply(1,2,3,4,5,6,7,8,9,10,11,12)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)

1

In [ ]:
# Positional arguments
def student_info(name,age,city):
    print('name',name)
    print('age',age)
    print('city',city)

In [16]:
# Functional call with positional arguments

student_info('asma',14,'bannu')

name asma
age 14
city bannu

In [17]:
def student_info(name,age,city):
    return name,age,city

In [18]:
# function call
student_info(age=15,name='muhib',city='islamabad')

('muhib', 15, 'islamabad')

In [19]:
# Default Arguments

def student(name,age=15,city='karachi'):
    return name,age,city

In [22]:
student('fahim')

('fahim', 15, 'karachi')

In [31]:
def addition(*numbers):
    total = 0
    for num in numbers:
        total += num
        print(total)

In [32]:
# Passing multiple arguments
addition(5,10,15,20)

5
15
30
50

In [33]:
def teacher(**info):
    for key,value in info.items():
        print(key,value)

In [34]:
teacher(name='rehan',age=40,city='peshawar',course='python')

name rehan
age 40
city peshawar
course python

In [36]:
# using map() function

def square(num):
    return num * num

numbers = [1,2,3,4,5]
results = map(square,numbers)
print(list(results))

[1, 4, 9, 16, 25]

In [39]:
# using map() with lambda function

numbers = [1,2,3,4,5]
result = map(lambda x: x**2,numbers)
print(list(result))

[1, 4, 9, 16, 25]

In [41]:
# Filter Function
def is_even(num):
    return num%2 ==0
number = [1,2,3,4,5,6]
result = filter(is_even,number)

print(list(result))

[2, 4, 6]