Let,s create a function(with docstring)

In [9]:
def greet(a = 13):
    return a

In [10]:
# a = "hellow welcome"
greet()

13

In [9]:
# Syntax of Function

def function_name(parameter):
    """docstring(optional)"""
    return function_name

In [11]:
def number(a,b):
    result = a + b
    return result

In [12]:
# Calling the function

sum_result = number(10,20)

print(sum_result)

30

In [16]:
def user():
    return "Good morning"

In [18]:
muhib = user()
print(muhib)

Good morning

In [18]:
def pak(name):
    print('hello',name)

In [21]:
pak('muhib')
pak('ahmed')

hello muhib
hello ahmed

In [22]:
def square(num):
    return num * num

In [23]:
result = square(5)
print(result)

25

In [24]:
# Function with multiple parameters

def Add_three_nums(a,b,c):
    return a + b + c

In [26]:
asad = Add_three_nums(10,20,30)
print(asad)

60

In [27]:
# Default Parameters

def pen(name = "user"):
    print('Hello',name)

In [31]:
pen()
pen("muhib")
pen("i am writing in python")

Hello user
Hello muhib
Hello i am writing in python

In [33]:
# Keyword Arguments

def info(name,age,marks):
    return name , age,marks

In [35]:
information = info("nasim",15,100)
print(information)

('nasim', 15, 100)

In [36]:
# *args

def add_numbers(*args):
    print(sum(args))

In [37]:
add_numbers(20,11,23)

54

In [38]:
# ** kwargs

def using(**kwargs):
    print(kwargs)

In [ ]:
# Types of Arguments
# Default arguments
# positional arguments
# keyword Arguments

In [2]:
def power(a=1,b=1):
    return a**b

In [3]:
power()

1

In [4]:
# positional arguments
power(2,3)

8

In [5]:
# Keyword Arguments

power(b=3,a=2)

8

*args and **kwargs

In [13]:
# *args

def multiply(*args):
    product = 1

    for i in args:
        product = product * i
        print(args)
        return product

In [52]:
print(1234567890876543234566543)

1234567890876543234566543

In [14]:
multiply(1,2,3,4,5,6,7,8,9,10,11,12)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)

1

In [ ]:
# Positional arguments
def student_info(name,age,city):
    print('name',name)
    print('age',age)
    print('city',city)

In [49]:
# Functional call with positional arguments

student_info('asma',14,'bannu')

name asma
age 14
city bannu

In [17]:
def student_info(name,age,city):
    return name,age,city

In [18]:
# function call
student_info(age=15,name='muhib',city='islamabad')

('muhib', 15, 'islamabad')

In [19]:
# Default Arguments

def student(name,age=15,city='karachi'):
    return name,age,city

In [22]:
student('fahim')

('fahim', 15, 'karachi')

In [31]:
def addition(*numbers):
    total = 0
    for num in numbers:
        total += num
        print(total)

In [32]:
# Passing multiple arguments
addition(5,10,15,20)

5
15
30
50

In [53]:
def teacher(**info):
    for key,value in info.items():
        print(key,value)

In [54]:
teacher(name='rehan',age=40,city='peshawar',course='python')

name rehan
age 40
city peshawar
course python

In [36]:
# using map() function

def square(num):
    return num * num

numbers = [1,2,3,4,5]
results = map(square,numbers)
print(list(results))

[1, 4, 9, 16, 25]

In [39]:
# using map() with lambda function

numbers = [1,2,3,4,5]
result = map(lambda x: x**2,numbers)
print(list(result))

[1, 4, 9, 16, 25]

In [41]:
# Filter Function
def is_even(num):
    return num%2 ==0
number = [1,2,3,4,5,6]
result = filter(is_even,number)

print(list(result))

[2, 4, 6]

In [19]:
def computer():
    return "How are you"

In [23]:
a = computer()
print(a)

How are you

In [ ]:
def info(name, age, city):

    return name,

In [29]:
# Keywords argument

def student_info(name,age,city):
    print('name',name)
    print('age',age)
    print('city',city)

In [ ]:
student_info(age=24, city="bannu", name="Muhib")

name Muhib
age 24
city bannu

In [33]:
def display(**kwargs):
    for (key,value) in kwargs.items():
        print(key,value)

In [34]:
display(pakistan='peshawar',america='new york')

pakistan peshawar
america new york

In [1]:
def pakistan(a='peshawar',c='islamabad',b='kohat'):
    return a,b,c

In [4]:
a = pakistan()
print(a)

('peshawar', 'kohat', 'islamabad')

In [21]:
a = lambda x, y: x+y

a(2,5)

7

In [22]:
e = lambda x: x**2
e(7)

49

In [25]:
a = lambda x: x**3

a(5)

125

In [31]:
c = lambda x,y,z: x*y*z
c(1,2,3)

6

In [56]:
z= lambda (x,y:x+y)

SyntaxError: invalid syntax (3948377547.py, line 1)

In [40]:
l = [1,2,3,4]
for i in l:
    l**2
print(l)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [46]:
def square(nums):
    result = []
    for i in nums:
        result.append(i**2)
    return result
    
a = [1,2,3,4,5]
print(square(a))

[1, 4, 9, 16, 25]

In [57]:
def mat(a=1,b=1):
    return a+b

mat(1)

2

In [61]:
def system(c ,d, e):
    return a*d*c

In [63]:
f = system(5,3,4)
print(f)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [65]:
def squares(sub):
    res = []
    for i in sub:
        res.append(i**4)
        return res
    
a = [2,3,6,8]

print(squares(a))

[16]